$color-link: #be3f3f;

@import "../theme";
@import "../core/all";
@import "../components/**/*.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  background: white;
  font-family: 'lato';
}

.mc-logo {
  display: block;
  width: 75%;
  margin: -20px auto 10px;
}

[dir="ltr"] .Frame-handle {
  pointer-events: none;
  display: none;
}

a {
  font-family: 'lato';
  color: rgba(white, .35);

  &:hover {
    color: white;
    background-color: rgba(white, .05);    
  }
}

.Browser-tab.is-active a {
  border-color: $color-link;
}

.Browser-panel {
  padding: 1.6rem 1.4rem;
}

.Frame-header {
  display: none;
}

.Frame-panel--sidebar {
  background: #111;
}

.Status-dot {
  background: transparent;
}

.Tree-title {
  font-family: 'lato';
  color: white;
}

.Tree-collectionLabel span::before {
  top: 0.35rem;
}

.Tree-collectionLabel {
  color: rgba(255, 255, 255, 0.35);
}

.Tree-collectionLabel:hover, .Tree-entityLink:hover {
  background-color: rgba(white, .02);
  color: white;
  cursor: pointer;
}

.is-current .Tree-entityLink {
  background-color: rgba(white, .05);
  color: white;
}
